.announcement {
  width: 100%;
  padding: 1rem 0.5rem 0.5rem;
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid #bdbdbd;
  margin-bottom: 1.2rem;

  .imageContainer {
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: space-around;
    width: 95%;
    .content {
      font-size: clamp(16px, 2vw, 18px);
      word-break: break-all;
    }

    .date {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      color: #797878;
      font-size: clamp(13px, 1.8vw, 15px);
    }
  }

  .pin {
    width: 32px;
    height: 24px;
    max-width: 32px;
    max-height: 24px;
  }

  .isEdited_text {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #797878;
    font-size: clamp(13px, 1.8vw, 15px);
  }
}

.is_pinned {
  background-color: rgba(96, 192, 244, 0.306);
  border-color: rgba(96, 192, 244, 0.306);
}
