.classCard__upper {
  position: relative;
  height: 90px;
  color: white;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;

  .classCard_desc {
    display: inline-block;
    max-width: 10rem;

    .classCard__className {
      width: 100%;
      overflow: hidden !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 600;
      font-size: 1.4rem;
      float: left;
    }

    .classCard__creatorName {
      width: 100%;
      overflow: hidden !important;
      text-overflow: ellipsis;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      font-size: 0.75rem;
    }
  }
}

.classCard {
  width: 300px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  @media screen and (max-width: 480px) {
    width: 320px;
    // margin-left: 35px;
  }

  @media screen and (max-width: 900px) and (min-width: 481px) {
    width: 320px;
    // margin-left: 15px;
  }

  @media screen and (max-width: 1440px) and (min-width: 1100px) {
    width: 310px;
    // margin-left: 5px;
  }

  @media screen and (max-width: 2000px) and (min-width: 1441px) {
    width: 320px;
    // margin-left: 15px;
  }
}

.classCard__middle {
  height: 190px;
  background-color: white;
}

.classCard__creatorPhoto {
  position: absolute;
  top: 45px;
  right: 5px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
}

.classCard__lower {
  display: flex;
  flex-direction: row-reverse;
}
