.options {
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  height: 55px;
  width: 50%;
  padding: 0.6rem;
  position: fixed;
  margin: auto;

  @media screen and (max-width: 480px) {
    // margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      position: relative;
      width: 25px;
      height: 25px;
    }
  }
}

.dropdown[open] {
  animation: fade-in 250ms ease-in-out forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdown {
  position: absolute;
  width: 75%;
  background-color: white;
  align-items: center;

  @media screen and (max-width: 1024px) {
    width: 90%;
  }

  top: 0;
  margin-top: 56px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  font-weight: 600;
  color: rgb(86, 85, 85);

  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 100%;
    text-align: center;
    cursor: pointer;

    @media screen and (max-width: 540px) {
      p {
        font-size: 15px;
      }

      svg {
        display: none;
      }
    }
  }

  li:hover {
    background-color: #e5e8f0;
  }
}
