.class {
  width: 75%;
  margin: auto;

  @media screen and (max-width: 980px) {
    width: 90%;
  }
}

.class__nameBox {
  width: 100%;
  color: white;
  height: 15rem;
  margin-top: 2rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding: 2rem 2rem 1rem 2rem;
  font-weight: bold;
  position: relative;

  @media screen and (max-width: 768px) {
    padding: 1rem 1rem 0.5rem 1rem !important;
  }

  @media screen and (max-width: 560px) {
    height: 8rem;
  }

  .class__name {
    font-size: clamp(24px, 4vw, 44px);
  }

  .class__batch {
    font-size: clamp(16px, 2.5vw, 28px);
  }
}

.container {
  display: flex;

  .classes__upcoming {
    @media screen and (max-width: 880px) {
      display: none;
    }

    height: 9rem;
    width: 16rem;
    border: 1px solid lightgray;
    margin-top: 1.2rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.7rem;

    h4 {
      font-size: 0.9rem;
    }

    p {
      font-size: 0.8rem;
      text-align: left;
      color: #0a9689;
    }

    .viewAllContainer {
      display: flex;
      flex-direction: row-reverse;

      .viewAll {
        color: blueviolet;
        font-size: 1rem;
        border: none;
        text-align: center;
        padding: 0.5rem;
        width: 5rem;
        border-radius: 5px;
      }

      .viewAll:hover {
        background-color: whitesmoke;
      }
    }
  }
}
