.class {
  width: 75%;
  margin: auto;

  @media screen and (max-width: 980px) {
    width: 90%;
  }
}

.class__nameBox {
  width: 100%;
  background-color: #0a9689;
  color: white;
  height: 15rem;
  margin-top: 1.9rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.9rem;
  font-weight: bold;
  font-size: 2.5rem;
  position: relative;

  @media screen and (max-width: 560px) {
    height: 8rem;
    font-size: 1.5rem;
  }

  .class__name {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
  }
}

.container {
  display: flex;

  .classes__upcoming {
    @media screen and (max-width: 880px) {
      display: none;
    }

    height: 9rem;
    width: 16rem;
    border: 1px solid lightgray;
    margin-top: 1.2rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.7rem;

    h4 {
      font-size: 0.9rem;
    }

    p {
      font-size: 0.8rem;
      text-align: left;
      color: #0a9689;
    }

    .viewAllContainer {
      display: flex;
      flex-direction: row-reverse;

      .viewAll {
        color: blueviolet;
        font-size: 1rem;
        border: none;
        text-align: center;
        padding: 0.5rem;
        width: 5rem;
      }

      .viewAll:hover {
        background-color: whitesmoke;
      }
    }
  }

  .class__announce {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 1px 6px -2px black;
    justify-content: space-between;
    border-radius: 0.5rem;
    margin-top: 1.2rem;
    height: 4.5rem;

    @media screen and (max-width: 560px) {
      height: 4rem;
      font-size: 1.5rem;
    }

    img {
      height: 3.1rem;
      width: 3.1rem;
      object-fit: cover;
      border-radius: 50%;

      @media screen and (max-width: 560px) {
        height: 2rem;
        width: 2rem;
      }
    }

    input {
      border: none;
      padding: 1rem 1.2rem;
      width: 100%;
      font-size: 1rem;
      outline: none;
      font-size: clamp(14px, 3.5vw, 20px);
    }
  }

  .editor {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 1px 6px -2px black;
    margin-top: 1.2rem;
    border-radius: 0.5rem;

    .container {
      display: flex;
      flex-direction: row-reverse;

      button {
        padding: 0.5rem;
        height: 2rem;
        width: 4rem;
        margin: 1rem;
        border-radius: 0.4rem;
        color: #0a9689;
        font-weight: bolder;
        align-items: center;

        @media screen and (max-width: 980px) {
          margin: 0.5rem;
        }

        &:nth-child(1):hover {
          background-color: #0eac9c;
          color: white;
        }

        &:nth-child(2) {
          background-color: white;
        }

        &:nth-child(2):hover {
          background-color: whitesmoke;
        }
      }
    }
  }
}
