.assignment-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title,
.description,
.documents,
.dueDate {
  display: flex;
  flex-direction: column;
  gap: 5px;

  span {
    font-size: 1.1rem;
    font-weight: 600;
  }
}

.file-icon {
  margin: 1rem 0;
  width: 2.5rem;
  height: 2.5rem;

  .download-file {
    cursor: pointer;
  }
}
