@mixin submit-action-btn() {
  width: 100%;
  text-align: right;
  margin-top: 0.5rem;

  button {
    width: 6rem;
    font-size: 14px;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    border: 2px double #0a9689;
    letter-spacing: 0.5px;

    @content;
  }
}

@mixin scrollbar() {
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #0a9689;
  }

  &::-webkit-scrollbar {
    background-color: #bee0dc;
    border-radius: 10px;
    width: 5px;
  }
}

.container {
  display: flex;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #bdbdbd;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(14px, 1.6vw, 16px);

  .assignment-card-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    text-align: center;
    cursor: pointer;

    :nth-child(1) {
      margin-right: 1rem;
      margin-left: 0.5rem;
    }

    :nth-child(2) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 1rem;
    }
  }

  .actions {
    border-radius: 0 0.5rem 0.5rem 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    gap: 1rem;

    svg {
      width: 25px;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        width: 22px;
      }
    }
  }
}

.assignment-card-body:hover {
  background-color: aliceblue;
}

.assignment-modal-body {
  display: flex;
  flex-direction: column;
  margin: 1rem;

  @media screen and (max-width: 480px) {
    margin: 0.5rem;
  }
}

.assignment-content {
  display: grid;
  gap: 1rem;
}

.assignment-title,
.assignment-description,
.assignment-documents,
.assignment-dueDate {
  display: grid;
  font-size: clamp(14px, 2.5vw, 16px);

  span {
    font-weight: 600;
    font-size: clamp(16px, 3vw, 18px);
  }
}

.file-icon {
  margin: 0.5rem 0;
  width: 2.5rem;
  height: 3rem;

  .download-file {
    cursor: pointer;
  }

  @media screen and (max-width: 640px) {
    width: 2rem !important;
    height: 2rem !important;
  }
}

.assignment-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  height: 3.5rem;
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-top: 1rem;
  border-top: 1px solid rgba(128, 128, 128, 0.273);

  .modal-upload-btn {
    padding: 0.6rem 0.8rem;
    border-radius: 5px;
    background-color: #4682a9;
    color: white;

    &:hover {
      background-color: rgb(100, 144, 176);
    }
  }
}

.upload-assignment-modal-body {
  margin: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .upload-assignment-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    div {
      align-items: center;
    }

    .assignment-title,
    .assignment-submittedTo {
      font-weight: 600;
      font-size: clamp(16px, 3vw, 18px);
    }

    .assignment-submission {
      position: relative;
      display: flex;
      align-items: baseline;

      .submittedTo-image {
        img {
          border-radius: 50%;
        }
      }

      .assignment-submittedTo-info {
        position: absolute;
        margin: 0 1.2rem;
        bottom: 0.5rem;
        left: 2.5rem;
      }
    }

    .assignment-title-info,
    .assignment-submittedTo-info {
      font-size: clamp(15px, 2.5vw, 16px);
    }

    & > div {
      display: grid;
      grid-template-columns: 1fr 1.5fr;

      @media screen and (max-width: 480px) {
        grid-template-columns: 1fr !important;
      }
    }
  }

  .upload-assignment-main {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 1.5rem;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .comment-title {
    font-size: 0.9rem;
    letter-spacing: 0.2px;
    color: #0cab9b;
  }

  .comment-textarea {
    width: 100%;

    textarea {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      width: 100%;
      resize: none;
      border-color: #0cab9b;
      border-radius: 5px;
      outline: none;
      padding: 0.5rem;
      font-size: 0.85rem;

      @include scrollbar();
    }

    .submitted-comment {
      max-height: 5rem;
      word-break: break-all;
      width: 100%;
      overflow-y: auto;
      border-radius: 5px;
      font-size: 0.8rem;
      padding-right: 0.5rem;

      @include scrollbar();
    }
  }
}

.submit-assignment-btn {
  @include submit-action-btn() {
    background-color: #0a9689;
    color: white;

    &:hover {
      border-color: #0cab9b;
      background-color: #0cab9b;
    }
  }
}

.unsubmit-assignment-btn {
  @include submit-action-btn() {
    background-color: white;
    color: #0a9689;

    &:hover {
      background-color: #eafffdab;
    }
  }
}

.submit-assignment-btn button,
.unsubmit-assignment-btn button {
  &:disabled {
    cursor: default !important;
    border-color: transparent;
    background-color: rgba(128, 128, 128, 0.209);
  }
}

.uploadedFile-name {
  // max-width: 10rem;
  font-size: 0.8rem;
}

.file-input-box {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(185, 163, 163, 0.202);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  letter-spacing: 1px;

  &:hover {
    color: white !important;
    background-color: #1965b2;
    transition: all 200ms ease-out;
  }
}

.selected {
  color: white !important;
  background-color: #1965b2;
}

.not-selected {
  background-color: white;
  color: #0a9689;
}

.hidden {
  display: none;
}

.spinner {
  display: inline-block;
  width: auto;
  height: 13px;
}

.spinner:after {
  margin: auto;
  content: " ";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 3px solid #0a9689;
  border-color: #0a9689 transparent #0a9689 transparent;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  .upload-assignment-modal-body {
    margin: 1rem 0 0;

    .assignment-submission,
    .assignment-title-info {
      margin-left: 0 !important;
      margin-top: 0.25rem;
    }
  }

  .upload-assignment-main {
    font-size: 0.8rem;

    .remove-file-text {
      font-size: 0.7rem !important;
    }

    .upload-assignment-btn {
      button {
        font-size: 12px !important;
        padding: 0.5rem 0.6rem !important;
      }
    }
  }

  .file-input-box {
    font-size: 0.8rem;
    padding: 0.4rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

@media screen and (max-width: 540px) {
  .assignment-submission,
  .assignment-title-info {
    margin-left: 2rem;
  }
}
