$box_width: 220px;
$box_height: 320px;
$box_bRadius: 10px;
$box_background: white;
$box_shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
$text_color: black;
$links_color: #626262;
$bottom_box_bg: #e8e8e8a8;

@mixin createBox($width, $height, $radius, $background, $shadow) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: $background;
  box-shadow: $shadow;

  @media screen and (max-width: 767px) {
    width: 100%;
    height: 11rem;
  }
}

.box {
  position: relative;

  @include createBox(
    $box_width,
    $box_height,
    $box_bRadius,
    $box_background,
    $box_shadow
  );

  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    border-top-left-radius: $box_bRadius;
    border-top-right-radius: $box_bRadius;

    #star {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      cursor: pointer;
      padding: 0.2rem;
      top: 30px;
      left: 75%;

      a {
        width: 30px;
        height: 30px;

        svg {
          width: 30px;
          height: 30px;
        }
      }
      border-radius: 50%;
      transition: 0.5s;
      text-decoration: none;
      z-index: 100;

      &:hover {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        background-color: white;

        .ico {
          color: #ffae00;
        }
      }

      .ico {
        text-align: center;
        font-size: 18px;
        color: $links_color;
        transition: 0.5s;
      }
    }

    .profile,
    .name {
      margin: 5px;
      text-align: center;
    }

    .profile {
      width: 85px;
      height: 85px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
      border: 4px solid white;
      border-radius: 50%;
      z-index: 5;

      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }

    .name {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 0.5rem;
    height: 40%;
    background-color: $bottom_box_bg;
    border-bottom-left-radius: $box_bRadius;
    border-bottom-right-radius: $box_bRadius;

    .file-icon {
      margin: auto;
      width: 3rem;
      height: 3rem;

      .download-file {
        cursor: pointer;
      }
    }

    .submittedOn-date {
      text-align: center;
      font-weight: 100;
      color: gray;
      font-size: 0.8rem;
    }
  }

  // Star on hover
  .hover-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    background-color: #fdf4da;
    border-radius: 10px;
    opacity: 0;
    z-index: -1;

    .comment {
      width: 100%;
      height: 9.5rem;
      color: #574a21;
      position: absolute;
      top: 50%;
      padding: 0 0.8rem 0.5rem;
      text-align: left;
      font-size: 14px;
      overflow-y: auto;

      &::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background: #574a21;
      }

      &::-webkit-scrollbar {
        background-color: #edd998;
        border-radius: 10px;
        width: 5px;
      }
    }
  }
}

.hover-box--hovered {
  z-index: 1 !important;
  opacity: 1 !important;
}

@media screen and (max-width: 767px) {
  .top {
    height: 60% !important;
  }

  .bottom {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
    height: 40% !important;
    flex-direction: row !important;
    align-items: flex-end;
    justify-content: space-between !important;

    .file-icon {
      margin: 0.5rem 0 !important;
      width: 2.5rem !important;
      height: 2.5rem !important;
    }
  }

  .profile {
    margin: 0 !important;
    width: 65px !important;
    height: 65px !important;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    border: 4px solid white;
    border-radius: 50%;
    z-index: 5;

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }

  .name {
    margin: 0 !important;
    margin-top: 0.2rem !important;
    font-size: 15px !important;
    font-weight: 700;
  }

  .submittedOn-date {
    font-size: 0.7rem !important;
  }

  .comment {
    height: 5rem !important;
  }
}
