.people {
  width: 75%;
  margin: 2rem auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  background-color: white;
  height: 100%;
  padding: 1rem;
  gap: 1.5rem;

  p {
    font-size: clamp(1.4rem, 3.5vw, 2rem);
    color: blueviolet;
  }

  .blueHR {
    border-top: 1px solid blueviolet;
    margin-top: 1rem;
  }

  .search-box {
    display: flex;
    align-items: flex-end;

    .searchText {
      padding: 0.4rem 0.6rem;
      border-radius: 1.5rem;
      border: 1px solid blueviolet;
      outline: none;
      font-size: clamp(13px, 2vw, 15px);

      @media screen and (max-width: 480px) {
        width: 10rem;
      }
    }
  }
}

.no_found_text {
  text-align: center;
  margin: 2rem auto;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.spinner {
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-top: 22rem;

  @media screen and (max-width: 768px) {
    width: 45px;
    height: 45px;
  }
}

.spinner:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 6px solid rgb(55, 104, 197);
  border-color: rgb(55, 104, 197) transparent rgb(55, 104, 197) transparent;
  animation: spinner 1s linear infinite;

  @media screen and (max-width: 768px) {
    width: 45px;
    height: 45px;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .people {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 1rem 0;
  }
}
