@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", "Roboto";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
