.wrapper {
  position: relative;

  .navbar {
    height: 55px;
    box-shadow: 0 3px 6px blue;
    background-color: white;
    color: black;
    z-index: 100;
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    width: 100%;
    top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .container_one {
      display: flex;
      align-items: center;

      .sidebarBtn {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.14);
          border-radius: 50%;
        }

        svg {
          height: 30px;
          width: 30px;
        }
      }

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        gap: 5px;

        a {
          display: flex;
          align-items: center;
        }
      }
    }

    .container_two {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .addBtn {
        margin-left: 1rem;
        margin-right: 1rem;
        cursor: pointer;

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      .dropdown {
        position: absolute;
        top: 100%;
        border-radius: 10px;
        z-index: 100;
        background-color: white;
        right: 0;
        width: 8rem;
        border: 1px solid rgba(0, 0, 0, 0.04);
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
        ul {
          list-style: none;
          padding: 0.2rem;
          margin-top: 0;
        }
        li {
          padding: 12px 12px;
          border-radius: 10px;
          cursor: pointer;
        }

        li:hover {
          background-color: rgba(0, 0, 0, 0.14);
        }
      }
    }
  }
}
