.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 150;
  background-color: white;
  top: 0;
  left: 0;
  padding: 2rem 0;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.644);

  &.open {
    animation: slideRight 0.4s ease-in-out;
  }

  .header {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;

    a {
      display: flex;
      align-items: center;
    }
  }

  &__close {
    position: absolute;
    top: 50%;
    right: -20px;
    background: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: rotate 0.4s ease-in-out 0.2s;

    &::after {
      transform: rotate(90deg);
    }
  }

  @media screen and (max-width: 480px) {
    width: 250px;
  }
}

.list-section {
  padding: 2rem 0 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .list {
    padding-left: 0 !important;
  }
}

.list-item {
  list-style-type: none;
  padding: 1rem 1.5rem;
  font-size: clamp(16px, 1.65vw, 18px);

  &:hover {
    background-color: whitesmoke;
    cursor: pointer;
    border-left: 4px solid #0a9689;

    div {
      translate: 20px;
      transition: all 0.3s ease-in-out;
      text-rendering: optimizeSpeed;
    }
  }
}

.logout {
  margin-top: auto;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translatex(-100%);
  }

  100% {
    opacity: 1;
    transform: translatex(0%);
  }
}

@keyframes rotate {
  0% {
    opacity: 0;
    right: -80px;
  }

  100% {
    opacity: 1;
    right: -20px;
    transform: rotate(90deg);
  }
}
