.main {
  text-align: center;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin: 5rem auto;
}

.warning {
  color: rgb(239 68 68);
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: 1.75rem;

  @media (min-width: 1024px) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 2.5rem;
  }
}

.warning-message {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: rgb(239 68 68);

  @media (min-width: 1024px) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
