.container {
  background: url("/images/background/auth_background_design.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @media screen and (max-width: 980px) {
    display: none;
  }
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  .emoticons {
    div {
      position: relative;
      display: block;
      padding: 1rem 1.2rem;
      border-radius: 50%;
      max-width: 7rem;

      &:nth-child(1) {
        background-image: radial-gradient(
          circle farthest-side,
          #fceabb,
          #f8b500
        );
      }

      &:nth-child(2) {
        background-image: linear-gradient(to right, #8360c3, #2ebf91);
      }

      &:nth-child(3) {
        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
      }

      @media screen and (max-width: 1280px) {
        max-width: 5rem;
      }
    }

    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.slider {
  overflow: hidden;
  height: 40%;
  text-align: center;
  min-width: 100%;

  .content {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 6rem;

    .content_heading {
      font-size: clamp(22px, 2vw, 32px);
    }

    .content_text {
      font-size: clamp(16px, 1.5vw, 24px);
    }
  }

  .animate-left {
    position: relative;
    animation: animateleft 0.4s;
  }

  @keyframes animateleft {
    from {
      left: -300px;
      opacity: 0;
    }

    to {
      left: 0;
      opacity: 1;
    }
  }

  .animate-right {
    position: relative;
    animation: animateright 0.4s;
  }

  @keyframes animateright {
    from {
      right: -300px;
      opacity: 0;
    }

    to {
      right: 0;
      opacity: 1;
    }
  }

  .action_btns {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem auto;

    button {
      padding: 0.9rem 1rem;
      border-radius: 50%;
      color: white;
      background-color: white;
      margin-top: 40px;
    }

    .arrow {
      width: 20px;
      height: 20px;

      color: rgb(54, 54, 180);
    }
  }
}
